@using SIS.Application.Features.Commands.DepartmentCommand.CreateDepartment;

@model CreateDepartmentCommandRequest


<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<form asp-action="create">
					<div class="row">
						<div class="col-12">
							<h5 class="form-title"><span>Department Details</span></h5>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Department Name <span class="login-danger">*</span></label>
								<input asp-for="Name" class="form-control">
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Head of Department <span class="login-danger">*</span></label>
								<input asp-for="HeadOfDepartment" type="text" class="form-control">
								<span asp-validation-for="HeadOfDepartment" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms calendar-icon">
								<label>Department Start Date <span class="login-danger">*</span></label>
								<input class="form-control" asp-for="StartedDate">
								<span asp-validation-for="StartedDate" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12">
							<div class="student-submit">
								<button type="submit" class="btn btn-primary">Create</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>