@using SIS.Application.Features.Commands.DepartmentCommand.UpdateDepartment;
@model UpdateDepartmentCommandRequest


<div class="page-header">
	<div class="row align-items-center">
		<div class="col">
			<h3 class="page-title">Add Department</h3>
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="departments.html">Department</a></li>
				<li class="breadcrumb-item active">Add Department</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<form asp-action="update">
					<div class="row">
						<div class="col-12">
							<h5 class="form-title"><span>Department Details</span></h5>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Department Name <span class="login-danger">*</span></label>
								<input asp-for="Name" class="form-control">
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms">
								<label>Head of Department <span class="login-danger">*</span></label>
								<input asp-for="HeadOfDepartment" type="text" class="form-control">
								<span asp-validation-for="HeadOfDepartment" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div class="form-group local-forms calendar-icon">
								<label>Department Start Date <span class="login-danger">*</span></label>
								<input class="form-control" asp-for="StartedDate">
								<span asp-validation-for="StartedDate" class="text-danger"></span>
							</div>
						</div>
						<div class="col-12">
							<div class="student-submit">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>