@using SIS.Application.Features.Commands.SettingCommand.UpdateSetting;
@model UpdateSettingCommandRequest

<div>
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">Company Details</h5>
		</div>
		<div class="card-body pt-0">
			<form asp-action="index" method="post" enctype="multipart/form-data">
				<div class="settings-form row">
					<div class="form-group col-sm-3">
						<label>Company Name <span class="star-red">*</span></label>
						<input asp-for="CompanyName" class="form-control" placeholder="Enter Company Name">
						<span asp-validation-for="CompanyName"></span>
					</div>
					<div class="form-group col-sm-6">
						<label>Information <span class="star-red">*</span></label>
						<input asp-for="CompanyDescription" class="form-control" placeholder="Enter Company Information">
						<span asp-validation-for="CompanyDescription"></span>
					</div>
					<div class="form-group col-sm-3">
						<label>Awards <span class="star-red">*</span></label>
						<input asp-for="AwardCount" class="form-control">
						<span asp-validation-for="AwardCount"></span>
					</div>

					<div class="form-group col-sm-3">
						<label>Facebook Followers <span class="star-red">*</span></label>
						<input asp-for="FacebookFollowerCount" class="form-control">
						<span asp-validation-for="FacebookFollowerCount"></span>
					</div>
					<div class="form-group col-sm-3">
						<label>Twitter Followers <span class="star-red">*</span></label>
						<input asp-for="TwitterFollowerCount" class="form-control">
						<span asp-validation-for="TwitterFollowerCount"></span>
					</div>
					<div class="form-group col-sm-3">
						<label>Instagram Followers <span class="star-red">*</span></label>
						<input asp-for="InstagramFollowerCount" class="form-control">
						<span asp-validation-for="InstagramFollowerCount"></span>
					</div>
					<div class="form-group col-sm-3">
						<label>LinkedIn Followers <span class="star-red">*</span></label>
						<input asp-for="LinkedInFollowerCount" class="form-control">
						<span asp-validation-for="LinkedInFollowerCount"></span>
					</div>
					<div class="form-group col-sm-6">
						<label>Adress <span class="star-red">*</span></label>
						<input asp-for="Adress" class="form-control">
						<span asp-validation-for="Adress"></span>
					</div>
					<div class="form-group col-sm-6">
						<label>Gmail <span class="star-red">*</span></label>
						<input asp-for="Gmail" class="form-control">
						<span asp-validation-for="Gmail"></span>
					</div>
					<div class="form-group col-sm-6">
						<label>Phone <span class="star-red">*</span></label>
						<input asp-for="Phone" class="form-control">
						<span asp-validation-for="Phone"></span>
					</div>
					<div class="form-group col-sm-6">
						<label>Fax <span class="star-red">*</span></label>
						<input asp-for="Fax" class="form-control">
						<span asp-validation-for="Fax"></span>
					</div>


					<div class="form-group col-sm-6">
						<p class="settings-label">Logo <span class="star-red">*</span></p>
						<div class="settings-btn">
							<label><span>@Model.LogoUrl</span></label>
							<input asp-for="Logo" style="display:none;">
							<label asp-for="Logo" class="upload">
								
								<i class="feather-upload"></i>
							</label>

						</div>
					</div>

					<div class="form-group col-sm-3">
						<div style="width:128px;height:128px;">
								<img src="~/Settings/@Model.LogoUrl" style="max-width:100%;"/>
							</div>
					</div>
					
					
					<div class="form-group mb-0">
						<div class="settings-btns">
							<button type="submit" class="btn btn-orange">Update</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>